button{
 
  width: fit-content;
  background-color: darkgray;
  /* border: solid;  */
  border-radius: 5px;
  width: 150px;
  height: 30px;
}

/* .App{
  background-color: red
} */

.input{
  /* border: solid  */
  /* color: black; */
  
  border-radius: 5px; 
}

.inputtext{
  position: absolute;
  margin-top: 40%;
  height: 40px;
  width: 50%
}

.inputroom{
  position: relative;
  /* margin-top: 50px; */
  height: 25px;
  left: 300px; 
  width:20%
}

.join{
   position: absolute;
  margin-top: 40px;
 
  left: 400px;

}

.send{
  position: absolute;
  margin-top: 40%;
  left: 700px;  
  width:5% ;
  height: 40px;
}

.sentmessage{
  margin-top: 100px;
  position: relative;
  left: 600px;
  size: 200px;
  background-color: rgb(12, 66, 167);
  width: 20%
}

.recievedmessage{
  margin-top: 110px;
  position: relative;
  /* left: 300px; */
  background-color: palegreen;
  width: 20%
}

